<div class="first__image-mobile d-md-none">
  <h1 class="text-center text-uppercase main__title subtitle pt-5">
    we are creatives
  </h1>
  <svg
    class="arrow-mobile"
    width="36"
    height="114"
    viewBox="0 0 36 114"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18 3V103"
      stroke="white"
      stroke-width="6"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M3 95.4843L18 110.484L33 95.4843"
      stroke="white"
      stroke-width="6"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>

<div class="first__image-desktop d-md-block">
  <h1 class="text-center text-uppercase main__title subtitle pt-5">
    we are creatives
  </h1>
  <svg
    class="arrow-desktop"
    width="36"
    height="115"
    viewBox="0 0 36 115"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18 3.54028V103.54"
      stroke="white"
      stroke-width="6"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M3 96.0245L18 111.025L33 96.0245"
      stroke="white"
      stroke-width="6"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>
