<!-- MOBILE -->
<section class="container d-md-none">
  <div class="row">
    <img src="{{ imageMobile }}" alt="" class="col-12 p-0" />
    <h2 class="col-12 subtitle subtitle__content mt-5">
      {{ blockTitle }}
    </h2>
    <p class="col-12 main__style main__style__content mt-3 px-4">
      {{ blockText }}
    </p>
    <a class="col-12 mt-3 cta-learn subtitle text-center" href="#"
      >learn more</a
    >
    <div class="rectangle mx-auto mb-4"></div>
  </div>
</section>

<!-- DESKTOP -->
<!-- <section class="container">
  <div class="row">
    <img src="{{ imageDesktop }}" alt="" class="col-md-6" />
    <div class="col-12">One of three columns</div>
  </div>
</section> -->
