<!--  -->

<app-navbar></app-navbar>
<app-header-image></app-header-image>
<!-- <app-block
  class="first-block"
  imageMobile="{{ imageEggMobile }}"
  blockTitle="Transform your brand"
  blockText="We are a full-service creative agency specializing in helping brands grow fast.
  Engage your clients through compelling visuals that do most of the marketing for you."
  imageDesktop="{{ imageEggDesktop }}"
>
</app-block> -->

<!-- <app-block-image
  imageMobile="{{ imageEggMobile }}"
  imageDesktop="{{ imageEggDesktop }}"
>
</app-block-image>

<app-block-text
  blockTitle="Transform your brand"
  blockText="We are a full-service creative agency specializing in helping brands grow fast.
Engage your clients through compelling visuals that do most of the marketing for you."
></app-block-text> -->

<app-main-block
  class="first-block mx-auto"
  imageMobileFinal="{{ imageEggMobile }}"
  imageDesktopFinal="{{ imageEggDesktop }}"
  blockTitleFinal="Transform your brand"
  blockTextFinal="We are a full-service creative agency specializing in helping brands grow fast.
  Engage your clients through compelling visuals that do most of the marketing for you."
></app-main-block>

<app-main-block
  class="second-block mx-auto"
  imageMobileFinal="{{ imageCupMobile }}"
  imageDesktopFinal="{{ imageCupDesktop }}"
  blockTitleFinal="Stand out to the right audience"
  blockTextFinal="Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places. "
></app-main-block>
